<div id="menu" ng-controller="MenuController">
    <table class="group-info">
        <tr>
            <td class="avatar"><img ng-src="{{ info.image }}"></td>
            <td class="name">{{ info.name }}</td>
        </tr>
    </table>

    <ul>
        <li>
            <a ng-click="openPage('/posts')" ng-class="{new: new.posts}">
                Посты <span ng-if="new.posts" ng-bind="new.posts"></span>
            </a>
        </li>
        <li><a ng-click="openPage('/saved')">Сохраненные</a></li>
        <li>
            <a ng-click="openPage('/albums')" ng-class="{new: new.photos}">
                Альбомы <span ng-if="new.photos" ng-bind="new.photos"></span>
            </a>
        </li>
        <li><a ng-click="openPage('/settings')">Настройки</a></li>
    </ul>

</div>