<div ng-controller="PagesViewController" id="photos-view" class="page" ng-show="title">
   <div>
      <table class="header">
         <tr>
            <td class="title">
               <div class="sub-title" ng-bind="title"></div>
            </td>
            <td class="close">
               <a ng-click="closePage()"><i class="icon-cancel-1"></i></a>
            </td>
         </tr>
      </table>

      <div class="header-push"></div>

      <div class="text-content">
         <iframe src="{{ url }}" frameborder="0"></iframe>
      </div>
   </div>
</div>